@inject AppDbContext _context
@{
	var userId=(User.Claims.FirstOrDefault(c=>c.Type=="Id")?.Value);
	int totalProductInCart=0;
	if(User.Identity.IsAuthenticated)
	{
		totalProductInCart=_context.productUsers.Where(c=>c.UsersId==int.Parse(userId)&&c.Status==false).ToList().Count;
	}
}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Khanh Shop</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Khanh Shop">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
	.btn{
		cursor: pointer;
	}
</style>

</head>

<body>

    


	<!-- Header -->

	<header class="header trans_300">

		<!-- Top Navigation -->

		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">free shipping on all u.s orders over 5M VND</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">

								<!-- Currency / Language / My Account -->

								<li class="account">
									<a href="#">
										My Account
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="account_selection">
										@if(User.Identity.IsAuthenticated)
										{
											<li><a asp-action="Logout" asp-controller="User"><i class="fa fa-sign-in" aria-hidden="true"></i>Log Out</a></li>
											<li><a asp-action="EditUser" asp-controller="User" asp-route-usersId="@userId"><i class="fa-regular fa-user"></i>Profile</a></li>
										}
										else{
											<li><a asp-action="Login" asp-controller="User"><i class="fa fa-sign-in" aria-hidden="true"></i>Log In</a></li>
											<li><a asp-action="Register" asp-controller="User"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
										}
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a asp-controller="Category" asp-action="Home">khanh<span>shop</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
								<li>
									<form asp-action="Search" asp-controller="Category" style="display: flex;">
										<div class="form-group">
											<input type="text" name="productName" class="form-control form-control-sm" style="width: 350px;" id="usr" placeholder="Search for product...">
										</div>
										<div class="form-group">
											<button style="border: none;background-color: rgb(189, 241, 217); cursor: pointer;display: flex;align-items: center;height: 100%;padding: 0 10px;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
										</div>

									</form>
								</li>

								@if(User.IsInRole("Admin"))
								{
											<li><a asp-controller="Product" asp-action="Index" asp-route-id="">Product</a></li>
											<li><a asp-controller="Category" asp-action="Index" asp-route-id="">Category</a></li>
											<li><a asp-controller="Admin" asp-action="Index" asp-route-id="">User</a></li>
								}
								
							</ul>
							<ul class="navbar_user">
								<li class="checkout">
									<a asp-action="Detail" asp-controller="Cart">
										<i class="fa-solid fa-cart-shopping"></i>
										
											@if(User.Identity.IsAuthenticated)
											{
												<span id="checkout_items" class="checkout_items">
													@totalProductInCart
												</span>
											}
										
									</a>
								</li>
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="false"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item"><a asp-controller="Product" asp-action="Index" asp-route-id="">Product Manage</a></li>
				<li class="menu_item">
					<a asp-controller="Category" asp-action="Index" asp-route-id="">Category Manage</a>
				</li>
				@if(User.Identity.IsAuthenticated)
				{
					<li class="menu_item">
						<a asp-action="Logout" asp-controller="User">Logout</a>
					</li>
					<li class="menu_item">
						<a asp-action="EditUser" asp-controller="User" asp-route-usersId="@userId">Profile</a>
					</li>
				}
				else{
					<li class="menu_item">
						<a asp-action="Login" asp-controller="User" asp-asp-controller="User">Login</a>
					</li>
					<li class="menu_item">
						<a asp-action="Register" asp-controller="User">Register</a>
					</li>
				}
				<li class="menu_item">
					<form asp-action="Search" asp-controller="Category" style="display: flex;">
						<div class="form-group">
							<input type="text" name="productName" class="form-control form-control-sm" style="width: 350px;" id="usr" placeholder="Search for product...">
						</div>
						<div class="form-group">
							<button style="border: none;background-color: rgb(189, 241, 217); cursor: pointer;display: flex;align-items: center;height: 100%;padding: 0 10px;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
						</div>				

					</form>
				</li>
				
			</ul>
		</div>
	</div>
	</header>

    <div class="body" style="min-height: 200px; margin-top: 150px;">
        @RenderBody()
    </div>
	<div class="benefit" style="margin-top: 150px;">
		<div class="container">
			<div class="row benefit_row">
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>free shipping</h6>
							<p>Suffered Alteration in Some Form</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>cach on delivery</h6>
							<p>The Internet Tend To Repeat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>45 days return</h6>
							<p>Making it Look Like Readable</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>opening all week</h6>
							<p>8AM - 09PM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->

    <hr>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							<li><a href="#">Blog</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="contact.html">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr">©2024 All Rights Reserverd. By Dang Xuan Khanh</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/styles/bootstrap4/popper.js"></script>
<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/plugins/easing/easing.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/s5myx4278kigjry16ggvxrmp9kba7hfxb4kvurojntkc7cha/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
  });
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
