@model Category
<h5 class="alert alert-danger">Bạn có chắc muốn xóa danh mục này không?, nếu xóa thì tất cả các sản phẩm của danh mục này sẽ bị xóa</h5>
<form method="post" asp-action="DeleteConfirm" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger">Xóa</button>
    
</form>
<br>
<a type="submit" asp-action="Index" class="btn btn-primary">Không</a>